{% load static %}
<div class="navbar">
    <div class="logo">
        <a href="{% url 'home' %}"><img src="https://wekartstatic.vercel.app/images/logo.png" alt="logo" width="125px"></a>
    </div>
    <div>
    <form action="{% url 'product_search' %}" method="get" class="search-form">
        <input type="text" name="query" class="search-input" placeholder="Search products...">
        <button type="submit" class="search-button">Search</button>
    </form>       
    </div>
    <nav>
        <ul id="MenuItems">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'list_product' %}">Products</a></li>
            {% if not user.is_authenticated %}

            <li><a href="{% url 'account' %}">Account</a></li>
            {% else %}
         
            <li>Hi, {{ user.username }} !</li> 
            <li><a href="{% url 'orders' %}">Orders</a></li> 
            
            
            <li><a href="{% url 'logout' %}">Logout</a></li>

    

<!-- <select name="cars" id="cars">
  <option value="volvo"></option>
  <a href="">Orders</a>
  <option href="{% url 'orders' %}"> <a href="{% url 'orders' %}">Order</a></option>
  <option value="audi">Audi</option>
</select> -->

            {% endif %}
        </ul>
    </nav>
    <a href="{% url 'cart' %}"><img src="https://wekartstatic.vercel.app/images/cart.png" width="30px" height="30px"></a>
    <img src="https://wekartstatic.vercel.app/images/menu.png" class="menu-icon" onclick="menutoggle()">
</div>